.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    background-color:rgb(43, 42, 42);
    border-radius: 20px;
    color: white;
    margin: 20px;
    padding: 10px;
    height: 60px;
    width: inherit;
    margin-bottom: 10px;
}

.item-des{
    font-size: 30px;
    margin-left: 15px;
}

.item-btn{
    font-size: 15px;
    margin: 10px;
    background-color: rgb(188, 186, 186);
    border-radius: 20px;
    
}
.red{
    background-color: rgb(236, 100, 100);
}

.green{
    background-color: rgb(45, 190, 144);
}